@charset "UTF-8";

.card__conteiner {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-branco);
    margin: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.13);   
}

.conteudo__card {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-family: var(--fonte-principal);
    margin: 1.4rem;

    
}
   

.card__titulo {
    font-weight: 700;
    color: var(--cor-laranja);
    padding-bottom: 0.8rem;
}

.card__subtitulo {
    font-weight: 700;
    color: var(--azul-escuro);
    padding-bottom: 0.8rem;
}

.card__paragrafo {
    font-size: 14px;
    padding-bottom: 1rem;
}

.card__conteiner__imagem {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1.5rem;
}

.botao__saiba-mais {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--cor-branco);
    text-decoration: none;
    background-color: var(--cor-laranja);
    padding: 1.3rem;

}

.card__icones__interaçao {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    
}

.estrelas__card-titulo {
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
    
    .card__conteiner {
        width: 50%;
    }
    
    .card {
        display: flex;
        justify-content: center;
    }

    .card__icones__interaçao {
        margin-top: 30%;
        gap: 1rem;
        justify-content: flex-start;
    }
}

@media screen and (min-width:1728px) {
     .card__conteiner {
        width: 100%;
        margin: 7rem 5rem;
     }

     .card__paragrafo {
        font-size: 16px;
     }

     .card__titulo {
        font-size: 32px;
     }
}